<ul>
    <li *ngIf="!todoList || todoList.length === 0">
        <span class="todo-center-verticaly"><span>{{ "no data" | uppercase }}</span></span>
    </li>
    <li *ngFor="let todo of todoList">
        <span class="todo-input todo-home-element-check" [ngClass]="{ checked: todo.status }" (click)="completeTask(todo)">
    </span>
        <div class="todo-home-element-card">
            <span class="todo-center-verticaly">
        <input
          type="text"
          class="todo-input"
          *ngIf="edit.idForEdit === todo.id && edit.edit"
          [(ngModel)] = "todo.todo"
        />
        <span
          *ngIf="!(edit.idForEdit === todo.id && edit.edit)"
          class="todo-home-element-text"
          [ngClass]="{ checked: todo.status }"
          >{{ todo.todo }}
        </span>
            </span>
            <span class="todo-center-verticaly">
        <span
          class="todo-home-element-date"
          [ngClass]="{ checked: todo.status }"
        >
          <input
            *ngIf="edit.idForEdit === todo.id && edit.edit"
            type="date"
            class="todo-input"
            [(ngModel)]="todo.date"
          />
          <span *ngIf="!(edit.idForEdit === todo.id && edit.edit)">
            {{ todo.date }}</span
          >
        </span>
            </span>
            <span class="todo-center-verticaly">
        <span
          class="todo-home-element-priority"
          [ngClass]="{ checked: todo.status }"
        >
          <select
            *ngIf="edit.idForEdit === todo.id && edit.edit"
            [(ngModel)]="todo.priority"
            class="todo-input"
            [disabled]="todo.status"
          >
            <option value="-1"></option>
            <option
              *ngFor="let item of common.counter(5); let i = index"
              [value]="i + 1"
              ><span
                *ngFor="let star of common.counter(i + 1)"
              >*</span
            ></option>

          </select>
          <span *ngIf="!(edit.idForEdit === todo.id && edit.edit)">
            <span
              style="height: 100%;"
              *ngFor="let star of common.counter(todo.priority)"
              ><img src="assets/images/svg/image-star-blue.svg"
            /></span>
            </span>
            </span>
            </span>
            <span class="todo-center-verticaly">
        <span
          class="todo-home-element-category"
          [ngClass]="{ checked: todo.status }"
        >
          <select
            *ngIf="edit.idForEdit === todo.id && edit.edit"
            type="number"
            [(ngModel)]="todo.category"
            class="todo-input"
            [disabled]="todo.status"
          >
            <option [value]="-1">{{ "no category" | uppercase }}</option>
            <option *ngFor="let category of categories" [value]="category.id">{{
              category.name
            }}</option>
          </select>
          <span *ngIf="categories && categories.length > 0 && !(edit.idForEdit === todo.id && edit.edit) ">
            {{ getCategoryName(todo.category) | uppercase}}</span
          >
        </span>
            </span>
            <span class="todo-center-verticaly">
        <span class="todo-home-element-edit">
          <button
            *ngIf="!(edit.idForEdit === todo.id && edit.edit)"
            class="todo-btn"
            [disabled]="
              todo.status || (edit.idForEdit !== todo.id && edit.edit)
            "
            (click)="editTask(todo)"
          >
            Edit
          </button>
          <button
            *ngIf="edit.idForEdit === todo.id && edit.edit"
            class="todo-btn"
            [disabled]="todo.status"
            (click)="saveTask(todo)"
          >
            Save
          </button>
        </span>
            </span>
        </div>
    </li>
</ul>