<div class="home">
  <div class="home-text">

    <h1 class="">TODOlist</h1>

    <div class="">
      <p>TODO list is an application to manage and maintain your time and responsibilities. Developed as a project on course <b>"Advanced Web Programming"</b> using Angular 9.</p>
      <p>Developed by <b><a href="https://linktr.ee/CupakabraNo1">Vladimir Novaković</a></b>, a Software Developer at CAM Engineering and a 3rd-year student at the University of Novi Sad, Faculty of Sciences.</p>
    </div>
  </div>
  <img
    src="../assets/images/todo1.png"
    class="home-baner"
    alt="Responsive image"
  />
</div>
