@import "../../assets/styles/globals.less";

.home {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;

  .home-baner {
    width: 100%;
  }

  .home-text {

    background-color: @todo-color-blue-4;
    width: 100%;
    padding: 20px;
    text-align: justify;
    h1 {
      text-align: center;
    }
  }
}
.title {
  padding: 5px;
  background-color: #e3f2fd;
  border-radius: 10px;

  font-family: "Simplifica";
  font-size: 60px;
  text-align: center;

  position: relative;
  bottom: 40px;
  z-index: 50;
}

