<div class="container-fluid pt-5">
  <img
    src="../assets/images/todo1.png"
    class="img-fluid col-12"
    style="padding:0px; height: 50vh;"
    alt="Responsive image"
  />

  <h1 class="title col-9 m-auto">TODOlist</h1>

  <div class="col-12 col-lg-6 col-md-8 col-sm-12 col-xs-12 m-auto">
    <p class='text-justify'>TODO list is an application to manage and maintain your time and responsibilities. Developed as a project on course <b>"Advanced Web Programming"</b> using Angular 9.</p><br>
    <p clsas='text-justify'>Developed by <b>Vladimir Novaković</b>, a Software Developer at CAM Engineering and a 3rd-year student at the University of Novi Sad, Faculty of Sciences.</p>
  </div>
</div>
